@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

/* hide horizontal scrollbar for chip row */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}